body {
    margin: 0;
    font-family: "Times New Roman", Times, serif;
}
h1 {
    text-align: center;
    text-decoration: underline;
}
.content {
    margin: 15px;
    color: white;
    position: absolute;
    top: 50px;
}
.content p {
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
}
.homePageImg {
    width: 100%;
}
#moonPng:hover {
    filter: invert(100%);
}
#navbar {
    margin: 0;
    top: 0;
    list-style: none;
    text-align: center;
    background-color: black;
    opacity: 71%;
    padding: 10px 10px;
    position: fixed;
    width: 100%;
}

li {
    display: inline;
}
li a {
    text-decoration: none;
    color: lightgray;
    padding: 15px 15px;
}
li a:hover {
    color: floralwhite;
}

ul img {
    max-width: 1.25%;
}
footer {
    position: relative;
    margin: 50px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}
footer p {
    border-color: lightgray;
    border-top-style: solid;
}

footer img {
    max-width: 3.5%;
    padding: 15px 15px;
}
